﻿@using EJ2CoreSampleBrowser.Helpers;
<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WLQL39J');</script>
<!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>Essential JS 2 for ASP.NET Core - Loan Calculator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="description" content="Essential JS 2 for ASP.NET Core - Loan Calculator - You can use this application to Calculates your loan payment based on your loan amount, interest and term" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="Syncfusion" />  
    <link rel="shortcut icon" href="~/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500,600" rel="stylesheet">
    <link href="~/scripts/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript">if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
            document.write('<script src="Scripts/bluebird.min.js"><\/script>');
        }
    </script>
    <script src="https://cdn.syncfusion.com/ej2/29.1.33/dist/ej2.min.js"></script>
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/index.css" rel="stylesheet" />


</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WLQL39J"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div hidden id="sync-analytics" data-queue="EJ2 - Showcase - ASP.NET Core - Loan Calculator"></div>
    @RenderBody()
    <ejs-scripts></ejs-scripts>
    <script>
        window.default();
    </script>
</body>
</html>
